header{
background-color: darkslategray;
color: aliceblue;
}

/* remove bullets from list items*/
nav ul{
list-style: none;
display: flex;
flex-direction: column;
align-items: center;
}

nav ul li {
padding: 1rem;
}

.card{
    border: 2px solid darkslategray;
width: 200px;
border-radius: 10px;
display: flex;
flex-direction: column;
padding: 1rem;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 600px) {
    nav ul{
flex-direction: row;
justify-content: space-around;
    }
    .card{
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;

    }
}

    
